*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.LoginContainer{
  background-color: white;
  border-radius: 30px;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginparent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 30vw;
  border-radius: 12px;
  background: linear-gradient(to bottom,#303150, #b5b9ff,  #ffffff);
}
.logintitle{
  color:white;
}
.loginparent button{
  background-color: #f8fafc;
  color:black;
  border-style:none;
  border-radius: 12px;
  width: 5vw;
  height: 4vh;
}